.navbar{
    border-bottom: 2px solid #ffc6f0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff3fc;
    z-index:1; 
}
.hideme{
   display: flex;
}

.toggleMenu{
    display: none;
}

.session-expiry{
    /* float: right; */
    display: block;
    width: 190px;
    align-items: flex-end;
    position: absolute;
    right: 1px;
    top: 40px;
    z-index: 2;
    /* background-color: #fff3fc; */
}
.session-expiry p {
    padding: 0px;
    font-size: small;
    margin: 0px;
    font-style: italic;
}


@media( max-width: 414px) {
    .navbar {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        padding-left: 40px;
        position: relative;
    }

    #navbarNav {
        flex-direction: column;
    }

    .hideme{
        display: none;

    }


    .toggleMenu{
        display: block;
    }

    .row {
        margin: 0;
    }
    .navbar-nav{
                margin: 0;

    }
    .timeline-margin{
        margin-top: 10px;
    }
    .ml-auto{
        margin-left: 0 !important;
    }
    .session-expiry{
      
      
        top: 75px;
      
    }
}