<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>
                <h4>Title</h4>
                <input type="text"> 
                <p-editor [(ngModel)]="blogtext" [style]="{'height':'220px'}" name="blogtext"></p-editor>
                <p>Value: {{blogtext||'empty'}}</p>
                                <h4>Tags</h4>
                <input type="text"> 
                <hr/>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>