::ng-deep .ql-toolbar.ql-snow {
    padding: 0px;
    /* border: none; */
}

::ng-deep .ql-container.ql-snow {
    /* border-top: 1px solid #ccc; */
    /* height: 10em;  */
}


/* Tell Quill not to scroll */
#quill-container {
    height: auto;
    min-height: 100%;
    padding: 50px;
  }

#quill-container .ql-editor {
    font-size: 18px;
    overflow-y: visible; 
  }
  
/* Specify our own scrolling container */
#scrolling-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.view-heading{
  display: flex;
  justify-content: space-between;

}

mat-icon {
  font-size: 70px;
}
  
.paginator{
  display: flex;
  justify-content: space-between;

}
span {
  display: inline-flex;
  vertical-align: middle;
}

a {
  font-size: 20px;
  font-weight: 600;
  color: #05386B;
  border-bottom: 2px solid black;
  /* border: 2px solid black; */
  margin: 5px;
  
}

.paginatorinput{
  font-size: 20px;
  font-weight: 600;
  color: #05386B;
  width: 40px;
  padding: 0px;
}