    <div class="master-container">
      <form class="form">
        <mat-form-field appearance="fill" >
          <mat-label>Search </mat-label>
          <input type="text" size="100" matInput placeholder="Ex. Unix" name="search" [(ngModel)]="searchInput">
        </mat-form-field>

        <div class="control-btn-container">
          <button class="toggleMenu" mat-fab color="accent" (click)="handleSearch($event)" >
            <mat-icon>search</mat-icon>
           </button>
           <button class="toggleMenu" mat-fab color="accent" (click)="handleClear($event)" >
            <mat-icon>backspace</mat-icon>
           </button>
    
           <button class="toggleMenu" mat-fab color="accent" (click)="handleRefresh(false)" >
            <mat-icon>refresh</mat-icon>
           </button>
           <button class="toggleMenu" mat-fab color="accent" (click)="onSortGlobal($event)" >
            <mat-icon>sort</mat-icon>
           </button>
          </div>

        <mat-form-field appearance="fill" class="margin">
          <mat-label>Categories</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="onCategoryChange($event)">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="margin">
          <mat-label>Tags</mat-label>
          <mat-select [(ngModel)]="selectedTagValue" [formControl]="tagsFormControl" multiple (selectionChange)="handleTagChange($event)" (openedChange)="handleTagOpenChange($event)">
            <mat-option *ngFor="let tag of tagsArr" [value]="tag">{{tag}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input type="text"
                 placeholder="Search Tags"
                 aria-label="Number"
                 matInput
                 [formControl]="tagsControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleAutoCompleteSelectChange($event)" >
            <mat-option *ngFor="let option of filteredTagsOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>  
    </form>


   
        <div class="paginator-container">
           <div class="paginator">
             <span style="margin-right: 40px;">Results for:{{searchInput}} </span> 
          </div>
           
           <div class="paginator">
              <div>
                  <span *ngIf="filtered"> {{blogsFiltered.length}} item(s) found in category:{{selected}}.&nbsp;</span >
                  <span *ngIf="!filtered"> {{blogs.length}} items in category:{{selected}}. &nbsp;</span >
              </div>
              <div>
                  <span > Items per page &nbsp;</span> 
                  <input type="number" [(ngModel)]="pageSize" name="pageSize" size="2" class="paginatorinput" (change)="handlePageNumberChange($event)" min="1">
              </div>
            </div>

          <div class="paginator-controls">
              <div>
                <button class="paginator-btn" pButton type="submit" iconPos="left" label="&lt;&lt;" (click)="handleFirst($event)"></button>
                <button class="paginator-btn" pButton type="submit" iconPos="left" label="&lt;" (click)="handlePrevV2()"></button>
              </div>
              <div><a *ngIf="showPage1" (click)="handlePage(page1)">{{page1}}</a></div>
              <div><a *ngIf="showPage2" (click)="handlePage(page2)">{{page2}}</a></div>
              <div><input type="number" [(ngModel)]="currentPage" name="pageNumber" size="2" class="paginatorinput" disabled></div>
              <div><a *ngIf="showPage3" (click)="handlePage(page3)">{{page3}}</a></div>
              <div><a *ngIf="showPage4" (click)="handlePage(page4)">{{page4}}</a></div>
              <div>
                <button  class="paginator-btn" pButton type="submit" iconPos="left" label="&gt;" (click)="handleNextV2()"></button>
                <button  class="paginator-btn" pButton type="submit" iconPos="left" label="&gt;&gt;" (click)="handleLast($event)"></button>
              </div>
            </div>
        </div>
        <hr>

    <app-spinner *ngIf="loading"></app-spinner>


    <div class="blog" *ngFor="let blog of blogsPager; index as i">
        <div>

                  <div class="view-heading">
                    <div class="view-heading-controls">
                      <h4>{{ (i+1 + ((currentPage - 1) * pageSize)) }}.{{blog.value.heading}}</h4>

                      <div *ngIf="blog.value.category">
                        <span>Category:{{blog.value.category}} &nbsp;</span>
                      </div>
                      <div *ngIf="blog.value.tags"> 
                        <span>Tags:{{blog.value.tags}}</span>
                      </div>
                    </div>

                    <div class="view-heading-controls">
                
                      <div (click)="onFullPageView($event,blog)">
                        <button class="toggleMenu" mat-mini-fab color="accent" ><mat-icon>open_in_full</mat-icon></button>
                      </div>
                      <div (click)="onEdit($event,blog)">
                        <button class="toggleMenu" mat-mini-fab color="accent" ><mat-icon>edit</mat-icon></button>
                      </div>
                      <div (click)="openDialog($event,blog)">
                        <button class="toggleMenu" mat-mini-fab color="accent" ><mat-icon>delete_forever</mat-icon></button>
                      </div>
                      <div>
                        <span>{{blog.value.datemodified | date}}</span>
                      </div>

                   </div>
                  </div>

                  <div id="scrolling-container">
                    <div id="quill-container">
                    <p-editor  [(ngModel)]="blog.value.blogtext"  class="quill-editor"  name="blogtext" [readonly]="true"> 
                      <p-header> </p-header>    
                    </p-editor>  
                    </div>
                  </div>
        </div>

    </div>
