    <div>
      <h4>Search</h4>
      <!-- <input matInput type="text" class="" (keydown)="keypressEvent($event)" [(ngModel)]="searchInput"> -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search </mat-label>
          <input type="text" style=" color:#05386B ; margin-left: 10px; width: 4rem !important;" size="50" matInput placeholder="Ex. Pizza" name="search" [(ngModel)]="searchInput">
        </mat-form-field>
        <button style="background-color: #05386B; color:#EDF5E1 ; margin-left: 10px;margin-right: 10px;" mat-button type="button" (click)="handleSearch($event)">Go</button>
        <button style="background-color: #05386B; color:#EDF5E1 ; margin-right: 10px;" mat-button type="button" (click)="handleClear($event)">Clear</button>
        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="onCategoryChange($event)">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span style="color:#05386B ; margin-left: 10px;font-size: 1.2rem;">Sort:</span>
        <span class="material-icons" style="color:#05386B ; margin-left: 10px;font-size: 2rem;" (click)="onSort($event)">
          sort
          </span>
      </form>


   
      <div> 
        <div class="paginator">
           <div><span style="margin-right: 40px;">Results:{{searchInput}} </span></div>
          <div><input type="number" [(ngModel)]="pageSize" name="pageSize" size="2" style="width: 60px;" (change)="handleFirstPage()" min="1"></div>
          <div><button style="background-color: #05386B; color:#EDF5E1 ; margin-left: 10px;margin-right: 10px;" pButton type="submit" iconPos="left" label="&lt;&lt;" (click)="handlePrev($event)"></button></div>
          <div><input type="number" [(ngModel)]="currentPage" name="pageNumber" size="2" style="width: 60px;" disabled></div>
          <div><button style="background-color: #05386B; color:#EDF5E1 ; margin-left: 10px;margin-right: 10px;" pButton type="submit" iconPos="left" label="&gt;&gt;" (click)="handleNext($event)"></button></div>
       </div>
      </div>
      <!-- <p>You selected: {{selected}}</p> -->
      <hr>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>


    <div class="" *ngFor="let blog of blogsPager; index as i">

            <div *ngIf="searchInputFilter !== undefined && searchInputFilter !== ' '  && blog.value.heading.toLowerCase().includes(searchInputFilter.toLowerCase()) && (blog.value.category == selected || selected == 'All' || (selected == 'NA' && blog.value.category == ''))">

                  <div class="view-heading">
                    <h4>{{ (i+1 + ((currentPage - 1) * pageSize)) }}.{{blog.value.heading}}</h4>
                    <div>
                      <span class="material-icons">
                        event
                        </span>
                      <span>{{blog.value.datemodified | date}}</span>

                      <span *ngIf="blog.value.category"><span class="material-icons">
                        category
                        </span>: {{blog.value.category}} &nbsp;</span>
                      <!-- <a  class="badge badge-dark" (click)="onFullPageView($event,blog)">Full Page View</a> -->
                      <span class="material-icons" (click)="onFullPageView($event,blog)">
                        preview
                        </span>
                      <!-- <a  class="badge badge-primary" (click)="onEdit($event,blog)">Edit</a> -->
                      <span class="material-icons" (click)="onEdit($event,blog)">
                        edit
                        </span>
                      <!-- <a  class="badge badge-primary" (click)="onDeletePost($event,blog)">Delete Post</a> -->

                      <!-- <span class="material-icons" (click)="onDeletePost($event,blog)"> -->
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon> -->

                        <span class="material-icons" (click)="openDialog($event,blog)">
                        delete_forever
                        </span>
                    </div>
                  </div>
             
                  <!-- <div [innerHTML]="blog.blogtext"></div> -->
                  
                  
                  <!-- <div class="ql-container ql-snow">
                      <div class="ql-editor" [innerHTML]="blog.blogtext">
                      </div>
                  </div> -->

                  <div id="scrolling-container">
                    <div id="quill-container">
                    <p-editor  [(ngModel)]="blog.value.blogtext"  [style]="{'height':'150px'}"  name="blogtext" [readonly]="true"> 
                      <p-header> </p-header>    
                    </p-editor>  
                    </div>
                  </div>
            </div>

    </div>
