.example-card {
    max-width: 400px;
    width: 200px;
    background-color: #EDF5E1;
  }
  

.card-container{
    width: 300px;
    /* background-color: #EDF5E1; */

}

.mat-dialog-container{
    width: 800px;
    background-color: #EDF5E1;
}
  