<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" routerLink="/blog/add">Add Post</a>
    </div>
</div>
<div class="container" >
    <router-outlet></router-outlet>
    <div class="myblog my-4" *ngFor="let blog of blogs">
        <div>
            <p class="blogid">{{blog.id}}</p>
        </div>
        <div class="">
            <h4>{{blog.heading}}</h4>
             <p>{{blog.blogtext}}</p>
        </div>
    </div>
</div>


<!-- <p>Category</p>
<p>Tags</p>
<p>DC</p>
<p>DM</p> -->