
<div class="tabContainer" >
    <mat-tab-group  mat-align-tabs="center" [selectedIndex]="selectedIndex"   (selectedIndexChange)="selectedIndexChange($event)">
        <router-outlet></router-outlet>
        <mat-tab label="View Posts">
            <!-- This will create the component once -->
            <!-- <ng-template matTabContent> -->
                    <app-view-blog></app-view-blog>
            <!-- </ng-template> -->
    
        </mat-tab>
        
    <mat-tab label="Add Post"> 
        <ng-template matTabContent>
            <app-add-blog></app-add-blog>
          </ng-template>
    </mat-tab>

    <mat-tab label="Edit Post">
        <!-- This will load the component everytime -->
        <ng-template matTabContent>
            <app-edit-blog></app-edit-blog>
        </ng-template>
    </mat-tab>
    <mat-tab label="Full Page View">
        <ng-template matTabContent>
            <app-view-single></app-view-single>
        </ng-template>
    </mat-tab>
  </mat-tab-group>
   
</div>


<!-- <p>Category</p>
<p>Tags</p>
<p>DC</p>
<p>DM</p> -->