.row{
    /* color: #fff; */
    /* background-color: #4992d3; */
}

.tabContainer{
    background-color:white;
    margin-top: 10px;
    padding: 20px;

}
.myblog{
    display: flex;
    color: red;
    background-color: #4992d3;
    position: relative;
}

.blogid{
    background-color: #4992d3;
    color:black;
    /* border: 1px solid white; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;  
    text-align: center;
    top: -15px;
    left: -15px;
    position: absolute;
}