.master-container{
    max-width: 1250px;
    margin: auto;
    padding: 20px;
    margin-top: 60px;;
}
.card{
    margin-top: 10px;
   
}

.addblog{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fbe1f2;
    border-radius: 10px;
    color: black;
    padding: 5px;
}
.addblog p {
    font-size: 20px;
    margin-top: 10px;
}
.slider-container{
    margin-top: 20px;
    /* margin-left: 5px; */
    position: relative;
    /* border: 1px solid goldenrod; */
    margin-bottom: 20px;
    padding-bottom: 20px;;
}

.formatcode{
    word-wrap: break-word;
    line-break: strict;
    padding: 5px;
    margin: 30px;
}
.formatcode pre {
    white-space: pre-wrap !important; 
}

.prev, .next {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    background-color: #d4aec8;
    color: black;
    opacity: 0.2;
    cursor: pointer;
    padding-top: 20px;
    transition: 0.5s ease;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    padding-left: 10px;;


}
.left{
    left: 0px;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: #e9adda;
    color: white;
    opacity: 1;
}



.pagenumber{
    width: 60px;
    height: 25px;
    position: absolute;
    bottom:0;
    right: 40%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #d4aec8;
    color: black;
    opacity: 0.4;
    border: 0 5px 5px 5px;

}
.pagenumbertop{
    width: 60px;
    height: 25px;
    position: absolute;
    top:0;
    left: 40%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #d4aec8;
    color: black;
    opacity: 0.4;
    border: 0 5px 5px 5px;

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-right {
    /* float: right; */
    position: absolute;
    right: 30px;
    top: 1px;
}
.title-right > * {
    margin-right: 5px;
}

.categoryheading{
    font-size: large;
    margin-top: 10px;
    background-color: #ff4081;;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}
.categoryheadingselected{
    font-size: large;
    margin-top: 10px;
    color: #ff4081;
}
.categorytagselected{
    font-size: large;
    margin-top: 10px;
    color: #3f51b5;
}

.tagsheading{
    font-size: large;
    margin-top: 10px;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}
@media( max-width: 414px) {
    .navbar {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 40px;
        position: relative;
    }

    #navbarNav {
        display: flex;
        flex-direction: column;
    }
    .row {
        margin: 0;
    }
    .navbar-nav{
                margin: 0;

    }
    .timeline-margin{
        margin-top: 10px;
    }

    .master-container {
        margin-top: 5px;
    }

}

