.master-container{
    max-width: 1250px;
    margin: auto;
    padding: 20px;
    /* border: 1px solid fuchsia; */
}
.card{
    margin-top: 10px;
   
}

.addblog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.slider-container{
    margin-top: 20px;
    /* margin-left: 5px; */
    position: relative;
    border: 1px solid goldenrod;
}

.formatcode{
    word-wrap: break-word;
    line-break: strict;
    padding: 5px;
    margin: 30px;
}
.formatcode pre {
    white-space: pre-wrap !important; 
}

.prev, .next {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    background-color: #d4aec8;
    color: black;
    opacity: 0.2;
    cursor: pointer;
    padding-top: 50%;
    transition: 0.5s ease;
    border-radius: 0 5px 5px 0;


}
.left{
    left: 0px;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: #e9adda;
    color: white;
    opacity: 1;
}



.pagenumber{
    width: 60px;
    height: 25px;
    position: absolute;
    bottom:0;
    right: 40%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #d4aec8;
    color: black;
    opacity: 0.4;
    border: 0 5px 5px 5px;

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-right {
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 1px;
}
.title-right > * {
    margin-right: 5px;
}

@media( max-width: 400px) {
    .navbar {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 40px;
        position: relative;
    }

    #navbarNav {
        display: flex;
        flex-direction: column;
    }
    .row {
        margin: 0;
    }
    .navbar-nav{
                margin: 0;

    }
    .timeline-margin{
        margin-top: 10px;
    }
}

