<div class="timeline-margin"></div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="master-container">

    <div class="addblog">
        <p >Add a Post</p>
        <button mat-fab color="accent" [routerLink]="['/add']">
            <mat-icon>post_add</mat-icon>
        </button>
    </div>
    <p class="categoryheading">Categories</p>
    <mat-chip-list aria-label="Category selection">
        <mat-chip color="accent" selected (click)="handleClick(cat)" *ngFor="let cat of categories">{{cat}}</mat-chip>
      </mat-chip-list>
      <p class="categoryheadingselected">Selected category: {{selectedCategory}}</p>
      
      <p class="tagsheading">Tags for {{selectedCategory}}</p>
      <mat-chip-list aria-label="Tags selection">
        <mat-chip  color="primary" selected (click)="handleTagClick(tag)" *ngFor="let tag of selectedCategoryTags">{{tag}}</mat-chip>
      </mat-chip-list>
      <p class="categorytagselected">Selected category: {{selectedTag}}</p>

      <div class="slider-container">

          <!-- <pre><code class="formatcode" [innerHTML]="blogtext"></code></pre> -->
          <span class="pagenumbertop">{{index+1}}/ {{selectedCategoryLength}}</span>
            <div class="formatcode" >
                    <h4>{{heading}}</h4>
                    <p>Tags: {{tags}}</p>
            </div>
            <div class="title-right">
              <button mat-mini-fab color="accent" (click)="openDialog($event)"><mat-icon>delete</mat-icon></button>
              <button mat-mini-fab color="accent" (click)="editBlog()"><mat-icon>edit_note</mat-icon></button>
              <button mat-mini-fab color="accent" (click)="viewFull()"><mat-icon>open_in_full</mat-icon></button>
            </div>
          <div class="formatcode" [innerHTML]="blogtext"></div>
          <span class="prev" (click)="handleCarouselClick(-1)">&#10094;</span>
          <span class="next" (click)="handleCarouselClick(1)">&#10095;</span>
          <span class="pagenumber">{{index+1}}/ {{selectedCategoryLength}}</span>
   
      </div>
      <app-fullpage-view [show]="fullPageViewShow" [blog]="fullPageBlog"> </app-fullpage-view>

</div>
