<div class="timeline-margin"></div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="master-container">

    <div class="addblog">
        <button mat-fab color="accent" [routerLink]="['/add']">
            <mat-icon>post_add</mat-icon>
        </button>
    </div>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent"  (click)="handleClick(cat)" *ngFor="let cat of categories">{{cat}}</mat-chip>
      </mat-chip-list>

      <div class="slider-container">

          <!-- <pre><code class="formatcode" [innerHTML]="blogtext"></code></pre> -->
            <div class="formatcode" >
                    <h4>{{heading}}</h4>
                    <p>Tags: {{tags}}</p>
            </div>
          <div class="formatcode" [innerHTML]="blogtext"></div>
          <span class="prev" (click)="handleCarouselClick(-1)">&#10094;</span>
          <span class="next" (click)="handleCarouselClick(1)">&#10095;</span>
          <span class="pagenumber">{{index+1}}/ {{selectedCategoryLength}}</span>
          <div class="title-right">
            <button mat-mini-fab color="accent" (click)="openDialog($event)"><mat-icon>delete</mat-icon></button>
            <button mat-mini-fab color="accent" (click)="editBlog()"><mat-icon>edit_note</mat-icon></button>
        </div>
      </div>

</div>
