
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="master-container">
        
        <div class="categories-container">
                <div class="category-container" (mouseenter)="mouseEnter(category)" (mouseLeave)="mouseLeave()" *ngFor="let category of categories; let i=index">
                        <div class="category" (click)="handleCategoryClick($event, category, undefined)" >
                                {{category}}
                        </div>
                        <div class="tags" (click)="handleTagClick($event, category, tag)"  *ngFor="let tag of tagsObj[category]; let i=index">{{tag}}</div>
                </div>
        </div>
  
        <div class="blog-container">
                <div class="blog-search">
                        <input type="text" (keydown)="keyDown($event)" (keypress)="keyPress($event)" style=" color:#05386B ; margin: 10px; width: 50rem !important;" size="50" matInput placeholder="Ex. Pizza" name="search" [(ngModel)]="searchInput">
                </div>
                <div id="{{obj.key}}" class="blog-group" *ngFor="let obj of filteredBlogs | keyvalue">
                        <div class="blog" *ngFor="let obj of obj.value">
                                <div class="blg-header">
                                        <h3>{{obj.heading}}</h3>
                                        <h4>{{obj.category}}</h4>
                                        <h4>{{obj.tags}}</h4>
                                        <h4>{{obj.datecreated | date}}</h4>
                                </div>
                                <div [innerHTML]="obj.blogtext"></div>
                        </div>
             
                  <!-- <div id="scrolling-container">
                        <div id="quill-container">
                        <p-editor  [(ngModel)]="obj.blogtext"   name="blogtext" [readonly]="true"> 
                          <p-header> </p-header>    
                        </p-editor>  
                        </div>
                  </div> -->
                  <!-- <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor
                          [editor]="editor"
                          [(ngModel)]="obj.blogtext"
                          [disabled]="false"
                          [placeholder]="'Type here...'"
                        ></ngx-editor>
                      </div> -->

                       
                </div>
        </div>
        <div class="slider-container">
                <div class="line" (dragover)="onDragOver($event)" ></div>
                <div class="control" (dragover)="onDragOver($event)" [style.top.px]="dragged" (click)="lineClick($event)" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)"></div>
                <!-- <div class="tick" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no"></div> -->
                <!-- <div class="tick-text" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no">{{datesarr[i] | date}}</div> -->
                <div class="tick-text" [style.top.px]="ticksarr[0]">{{datesarr[0] | date}}</div> 
                <div class="tick-text" style="color: gray;" [style.top.px]="prevDrag">{{datesarr[prevTick] | date}}</div> 
                <div class="tick-text" style="color: rgb(207, 146, 207);" [style.top.px]="dragged">{{datesarr[currentTick] | date}}</div> 
                <div class="tick-text" *ngIf="showEnd" style="color: rgb(235, 175, 175);" [style.top.px]="nextDrag">{{datesarr[nextTick] | date}}</div> 
                <div class="tick-text" [style.top.px]="ticksarr[ticksarr.length - 1]">{{datesarr[datesarr.length - 1] | date}}</div> 
        </div>
        
</div>


