/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '~highlight.js/styles/github.css';

:root {
    /* --main-bg-color-dark: #5CDB95;
    --main-bg-color-light: #5CDB95;
    --main-text-color-dark : #05386B ;
    --custom-bg-color-dark : #05386B ;
    --main-text-color-light: #EDF5E1; */

    --main-bg-color-dark: white;
    --main-bg-color-light: white;
    --main-text-color-dark : black ;
    --custom-bg-color-dark : white ;
    --main-text-color-light:white;
  }

html, body{
    /* background-color: #296ca8; */
    background-color: var(  --main-bg-color-dark);
    height: 100%;
}
.lightdarkcolor {
    background-color: var(--main-bg-color-light) !important;
}  
.customcolor {
    color: var(--main-bg-color-light);
}
.customcolordark {
    color: var( --main-text-color-dark) !important;
}
.custombgcolor {
    background-color: var( --custom-bg-color-dark);
    color: var(--main-text-color-light);
}