.container {
    margin-top: 80px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.scrolling-container{
    background-color: #EDF5E1;
}

.heading{
    text-align: center;
    color: #05386B ;
}
.slider-container{
    margin-top: 20px;
    /* margin-left: 5px; */
    position: relative;
    border: 1px solid #ffc6f0;
}

.formatcode{
    word-wrap: break-word;
    line-break: strict;
    padding: 5px;
    margin: 30px;
}

@media screen and ( max-width: 400px)  {
    .container {
        margin-top: 0px;
        height: 85%;
        display: block;
        box-shadow: none;
    }
}

