<div class="container">
  <app-spinner *ngIf="loading"></app-spinner>  
  <div class="row" *ngIf="!loading">
        <div class="col-md-12">
          <h4 class="heading">Welcome Voyager {{userEmail}}</h4>

            <mat-card class="example-card">

                <mat-card-header>
                  <mat-card-title>{{randomBlog.heading}}</mat-card-title>
                  <mat-card-subtitle>Category:{{randomBlog.category}}, Tags:{{randomBlog.tags}}</mat-card-subtitle>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div id="scrolling-container">
                        <div id="quill-container">
                        <p-editor  [(ngModel)]="randomBlog.blogtext"   [style]="{'width':'750px'}"   name="blogtext" [readonly]="true"> 
                          <p-header> </p-header>    
                        </p-editor>  
                        </div>
                      </div>
                      <!-- <code>
                        {{randomBlog.blogtext}}
                      </code> -->
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
