.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.scrolling-container{
    background-color: #EDF5E1;
}

.heading{
    text-align: center;
    color: #05386B ;
}

