<div class="home-container">
  <app-spinner *ngIf="loading"></app-spinner>  
  <div *ngIf="!loading">
        <div class="grid">
              <div>
                <h4 class="heading">Welcome {{userEmail}}</h4>
                <h4 class="heading">Blog changes lastweek:{{blogs.length}}</h4>
              </div>
              <div class="formatcode" >
                          <h4>{{randomBlog.heading}}</h4>
                          <p>Tags: {{randomBlog.tags}}</p>
                          <button mat-mini-fab color="accent" (click)="editBlog()"><mat-icon>edit_note</mat-icon></button>
                          <div [innerHTML]="randomBlog.blogtext"></div>
                </div>
 

            </div>
        </div>
</div>
