
<div style="margin-top: 150px;" *ngIf="loading"></div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="master-container">
        
        <div class="categories-container">
                <div class="category-container" (mouseenter)="mouseEnter(category)" (mouseLeave)="mouseLeave()" *ngFor="let category of categories; let i=index">
                        <div class="category" (click)="handleCategoryClick($event, category, undefined)" >
                                {{category}}      
                        </div>
                        <div  (click)="handleTagClick($event, category, tag)"  *ngFor="let tag of tagsObj[category]; let i=index">
                              <!-- <div class="tags" *ngIf="handleTagShow(category)" >{{tag}}</div>   -->
                              <div class="tags" [ngClass]="{'tagshow' : handleTagShow(category)}" >{{tag}}</div>  
                        </div>
                </div>
        </div>
  
        <div class="blog-container">
                <div class="blog-search">
                        <mat-form-field class="matinput-container" appearance="fill">
                                <mat-label>Search Blogs</mat-label>
                                <input type="text" (keydown)="keyDown($event)" (keypress)="keyPress($event)"  matInput placeholder="Ex. Spring Boot..." name="search" [(ngModel)]="searchInput">  
                        </mat-form-field>
                        <p>Search Results: <span>{{getCounts()}}</span></p>
                        <button mat-fab color="accent" [routerLink]="['/add']">
                                <mat-icon>post_add</mat-icon>
                        </button>

                </div>

                <div id="{{obj.key}}" class="blog-group" *ngFor="let obj of filteredBlogs | keyvalue; index as i">
                        <div class="blog" *ngFor="let blog of obj.value;index as j">
                                <div >
                                        <div class="blog-header">
                                                <div class="title">
                                                        <div>
                                                                <h4>{{blog.heading}}</h4>
                                                        </div>
                                                        <div class="title-right">
                                                                <button mat-mini-fab color="accent" (click)="openDialog($event,blog.id)"><mat-icon>delete</mat-icon></button>
                                                                <button mat-mini-fab color="accent" (click)="editBlog(blog.id)"><mat-icon>edit_note</mat-icon></button>
                                                        </div>
                                                </div>
                                                <div class="extra">
                                                        <div class="info">
                                                                <p>Category: {{blog.category}}</p>
                                                                <p>Tags: {{blog.tags}}</p>
                                                        </div>
                                                        <div class="info">
                                                                <p>Created: {{ getDate(blog.datecreated) | date}}</p>
                                                                <mat-slide-toggle (change)="handleToggleChange(obj.key,j)">Toggle View</mat-slide-toggle>
                                                        </div>
                                                </div>
                                        </div>

                                       
                                </div>
                                <div class="toggle-parent" *ngIf="!blog.toggle" [innerHTML]="blog.blogtext"></div>
                                <div class="toggle-parent" *ngIf="blog.toggle">
                                        <div id="scrolling-container">
                                            <div id="quill-container">
                                                <p-editor  [(ngModel)]="blog.blogtext"  name="blogtext" [readonly]="true"> 
                                                        <p-header> </p-header>    
                                                </p-editor>  
                                            </div>
                                        </div>
                                </div>
                       
                                <!-- <pre><code [innerHTML]="blog.blogtext"></code></pre> -->

                        </div>
             
         
      

                       
                </div>
        </div>
        <div class="slider-container">
                <div class="line" (dragover)="onDragOver($event)" ></div>
                <div class="control" (dragover)="onDragOver($event)" [style.top.px]="dragged" (click)="lineClick($event)" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)"></div>
                <!-- <div class="tick" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no"></div> -->
                <!-- <div class="tick-text" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no">{{datesarr[i] | date}}</div> -->
                <div class="tick-text" [style.top.px]="ticksarr[0]">{{datesarr[0] | date}}</div> 
                <div class="tick-text" style="color: gray;" [style.top.px]="prevDrag">{{datesarr[prevTick] | date}}</div> 
                <div class="tick-text" style="color: rgb(207, 146, 207);" [style.top.px]="dragged">{{datesarr[currentTick] | date}}</div> 
                <div class="tick-text" *ngIf="showEnd" style="color: rgb(235, 175, 175);" [style.top.px]="nextDrag">{{datesarr[nextTick] | date}}</div> 
                <div class="tick-text" [style.top.px]="ticksarr[ticksarr.length - 1]">{{datesarr[datesarr.length - 1] | date}}</div> 
        </div>
        
</div>


