
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="master-container">
        
        <div class="categories-container">
                <div class="category-container" (mouseenter)="mouseEnter(category)" (mouseLeave)="mouseLeave()" *ngFor="let category of categories; let i=index">
                        <div class="category" (click)="handleCategoryClick($event, category, undefined)" >
                                {{category}}
                        </div>
                        <div class="tags" (click)="handleTagClick($event, category, tag)"  *ngFor="let tag of tagsObj[category]; let i=index">{{tag}}</div>
                </div>
        </div>
  
        <div class="blog-container">
                <div class="blog-search">
                        <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Search Blogs</mat-label>
                                <input type="text" (keydown)="keyDown($event)" (keypress)="keyPress($event)"  matInput placeholder="Ex. Spring Boot..." name="search" [(ngModel)]="searchInput">
                        </mat-form-field>
                        <p>Search Results: <span>{{getCounts()}}</span></p>
            
                </div>
                <div id="{{obj.key}}" class="blog-group" *ngFor="let obj of filteredBlogs | keyvalue">
                        <div class="blog" *ngFor="let blog of obj.value">
                                <div class="blog-header">
                                        <div class="title">
                                                <h3>{{blog.heading}}</h3>
                                                <button mat-mini-fab color="accent" (click)="editBlog(blog.id)">Edit</button>
                                        </div>
                                        <div class="extra">
                                                <p>Category: {{blog.category}}</p>
                                                <p>Tags: {{blog.tags}}</p>
                                                <p>Created: {{blog.datecreated | date}}</p>
                                        </div>
                                </div>
                                <div [innerHTML]="blog.blogtext"></div>
                        </div>
             
                  <!-- <div id="scrolling-container">
                        <div id="quill-container">
                        <p-editor  [(ngModel)]="obj.blogtext"   name="blogtext" [readonly]="true"> 
                          <p-header> </p-header>    
                        </p-editor>  
                        </div>
                  </div> -->
      

                       
                </div>
        </div>
        <div class="slider-container">
                <div class="line" (dragover)="onDragOver($event)" ></div>
                <div class="control" (dragover)="onDragOver($event)" [style.top.px]="dragged" (click)="lineClick($event)" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)"></div>
                <!-- <div class="tick" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no"></div> -->
                <!-- <div class="tick-text" *ngFor="let no of ticksarr;let i = index" [style.top.px]="no">{{datesarr[i] | date}}</div> -->
                <div class="tick-text" [style.top.px]="ticksarr[0]">{{datesarr[0] | date}}</div> 
                <div class="tick-text" style="color: gray;" [style.top.px]="prevDrag">{{datesarr[prevTick] | date}}</div> 
                <div class="tick-text" style="color: rgb(207, 146, 207);" [style.top.px]="dragged">{{datesarr[currentTick] | date}}</div> 
                <div class="tick-text" *ngIf="showEnd" style="color: rgb(235, 175, 175);" [style.top.px]="nextDrag">{{datesarr[nextTick] | date}}</div> 
                <div class="tick-text" [style.top.px]="ticksarr[ticksarr.length - 1]">{{datesarr[datesarr.length - 1] | date}}</div> 
        </div>
        
</div>


